In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re

In [7]:
os.chdir("/home/watanabe/Github/JRDB_scraper/SED_2016")

In [8]:
def parse(text):
    space = [10,27,46,51,53,55,57,60,63,66,70,72,74,100,103,108,111,113,118,122,129,136,143,146,150,154,158,162,166,170,174,178,182,186,190,192,194,197,199,201,203,205,211,217,223,229,236,240,244,248,273,276,283,290,297,300,303,306,309,313,317,323,329,333,337,339,341,343,351,359,365,371,374,377,379]
    for i in space:
        text = re.sub(r"(.{"+str(i)+"})(?!$)",r"\1;",text,count=1)
    return text

In [41]:
filenames = os.listdir("/home/watanabe/Github/JRDB_scraper/SED_2016") 
filenames
for filename in filenames:
    print(filename)
    os.chdir("/home/watanabe/Github/JRDB_scraper/SED_2016")
    dataframe = pd.read_csv(filename,header=None,encoding="shift-jis")
    dataseries = pd.Series(dataframe.values.flatten())
    csv = dataseries.apply(lambda x: parse(x))
    os.chdir("/home/watanabe/Github/JRDB_scraper/SED_2016/CSV")
    csv.to_csv(filename+".csv",header=None,index=None)

SED160221.txt
SED160813.txt
SED160213.txt
SED160313.txt
SED160626.txt
SED160521.txt
SED160228.txt
SED160430.txt
SED160709.txt
SED161224.txt
SED160131.txt
SED160116.txt
SED161127.txt
SED160710.txt
SED161023.txt
SED161204.txt
SED160717.txt
SED160724.txt
SED160605.txt
SED160306.txt
SED160522.txt
SED160903.txt
SED160227.txt
SED160917.txt
SED160911.txt
SED161120.txt
SED160730.txt
SED160814.txt
SED161010.txt
SED160220.txt
SED160828.txt
SED161217.txt
SED160409.txt
SED160625.txt
CSV

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [9]:
filenames = os.listdir("/home/watanabe/Github/JRDB_scraper/SED_2016/CSV")
for filename in filenames:
    os.chdir("/home/watanabe/Github/JRDB_scraper/SED_2016/CSV")
    csv = pd.read_csv(filename,header=None)
    csv.to_csv("SED2016.csv",header=None,index=None,mode="a")

In [10]:
os.chdir("/home/watanabe/Github/JRDB_scraper/SED_2016/CSV")
sed = pd.read_csv("SED2016.csv",header=None)

In [11]:
sed.loc[sed.duplicated(),:]

Empty DataFrame
Columns: [0]
Index: []

In [20]:
sed171015 = pd.read_csv("SED171015.txt",header=None,encoding="shift-jis")

In [21]:
sed171015 = pd.Series(sed171015.values.flatten())
print(sed171015.shape)
sed171015.head()

(498,)

0    04173201011510362220171015ラテンリズム　　　　　　　　　　　　12...
1    04173201021511006820171015カミノコ　　　　　　　　　　　　　　12...
2    04173201031510168720171015モアイ　　　　　　　　　　　　　　　12...
3    04173201041511008920171015ロータスクイーン　　　　　　　　　　12...
4    04173201051510017220171015トキノカサドール　　　　　　　　　　12...
dtype: object

In [22]:
text = sed171015.loc[0]
space = [10,27,46,51,53,55,57,60,63,66,70,72,74,100,103,108,111,113,118,122,129,136,143,146,150,154,158,162,166,170,174,178,182,186,190,192,194,197,199,201,203,205,211,217,223,229,236,240,244,248,273,276,283,290,297,300,303,306,309,313,317,323,329,333,337,339,341,343,351,359,365,371,374,377,379]

In [23]:
for i in space:
    text = re.sub(r"(.{"+str(i)+"})(?!$)",r"\1,",text,count=1)

In [24]:
def parse(text):
    space = [10,27,46,51,53,55,57,60,63,66,70,72,74,100,103,108,111,113,118,122,129,136,143,146,150,154,158,162,166,170,174,178,182,186,190,192,194,197,199,201,203,205,211,217,223,229,236,240,244,248,273,276,283,290,297,300,303,306,309,313,317,323,329,333,337,339,341,343,351,359,365,371,374,377,379]
    for i in space:
        text = re.sub(r"(.{"+str(i)+"})(?!$)",r"\1;",text,count=1)
    return text

In [25]:
csv = sed171015.apply(lambda x: parse(x))
print(csv.shape)
csv.head()

(498,)

0    0417320101;1510362220171015;ラテンリズム　　　　　　　　　　　　...
1    0417320102;1511006820171015;カミノコ　　　　　　　　　　　　　　...
2    0417320103;1510168720171015;モアイ　　　　　　　　　　　　　　　...
3    0417320104;1511008920171015;ロータスクイーン　　　　　　　　　　...
4    0417320105;1510017220171015;トキノカサドール　　　　　　　　　　...
dtype: object

In [26]:
csv.to_csv("test.csv",header=None,index=None)

In [27]:
dataframe = pd.read_csv("test.csv",header=None)

In [28]:
print(dataframe.shape)
dataframe.head()

(498, 1)

                                                   0
0  0417320101;1510362220171015;ラテンリズム　　　　　　　　　　　　...
1  0417320102;1511006820171015;カミノコ　　　　　　　　　　　　　　...
2  0417320103;1510168720171015;モアイ　　　　　　　　　　　　　　　...
3  0417320104;1511008920171015;ロータスクイーン　　　　　　　　　　...
4  0417320105;1510017220171015;トキノカサドール　　　　　　　　　　...

In [29]:
dataframe.loc[0,0].split(";")

['0417320101',
 '1510362220171015',
 'ラテンリズム\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000',
 '1200',
 '2',
 '2',
 '1',
 '20',
 '11',
 'A3',
 '102',
 '3',
 ' ',
 '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000',
 '15',
 '\u3000\u3000\u3000\u3000',
 '09',
 '0',
 '1153',
 '540',
 '杉原誠人\u3000\u3000',
 '松山将樹\u3000\u3000',
 ' 202.3',
 '12',
 ' 11',
 '  7',
 '-14',
 '  4',
 '   ',
 '   ',
 '   ',
 '   ',
 '   ',
 '   ',
 '   ',
 '3',
 '3',
 '38',
 '2',
 '7',
 'S',
 'S',
 '-31.3',
 '-17.6',
 '-29.0',
 ' -9.0',
 'ラフィングマ',
 '021',
 '372',
 '381',
 '                        ',
 '  ',
 '  30.1',
 '  87.3',
 '  17.9',
 '00',
 '14',
 '14',
 '14',
 '-20',
 '-20',
 '10555',
 '10410',
 '434',
 '+ 2',
 '2',
 ' ',
 '4',
 '       ',
 '       ',
 '    0',
 '    0',
 '33',
 '22',
 '1',
 '    ']