In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [68]:
os.chdir("/ディレクトリまでのファイルパス")
filename = 
sed171015 = pd.read_csv("SED171015.txt",encoding="shift-jis",header=None)

In [69]:
sed171015 = pd.Series(sed171015.values.flatten())
print(sed171015.shape)
sed171015.head()

(498,)

0    04173201011510362220171015ラテンリズム　　　　　　　　　　　　12...
1    04173201021511006820171015カミノコ　　　　　　　　　　　　　　12...
2    04173201031510168720171015モアイ　　　　　　　　　　　　　　　12...
3    04173201041511008920171015ロータスクイーン　　　　　　　　　　12...
4    04173201051510017220171015トキノカサドール　　　　　　　　　　12...
dtype: object

In [70]:
text = sed171015.loc[0]
space = [10,27,46,51,53,55,57,60,63,66,70,72,74,100,103,108,111,113,118,122,129,136,143,146,150,154,158,162,166,170,174,178,182,186,190,192,194,197,199,201,203,205,211,217,223,229,236,240,244,248,273,276,283,290,297,300,303,306,309,313,317,323,329,333,337,339,341,343,351,359,365,371,374,377,379]

In [71]:
for i in space:
    text = re.sub(r"(.{"+str(i)+"})(?!$)",r"\1,",text,count=1)

In [72]:
def parse(text):
    space = [10,27,46,51,53,55,57,60,63,66,70,72,74,100,103,108,111,113,118,122,129,136,143,146,150,154,158,162,166,170,174,178,182,186,190,192,194,197,199,201,203,205,211,217,223,229,236,240,244,248,273,276,283,290,297,300,303,306,309,313,317,323,329,333,337,339,341,343,351,359,365,371,374,377,379]
    for i in space:
        text = re.sub(r"(.{"+str(i)+"})(?!$)",r"\1;",text,count=1)
    return text

In [73]:
csv = sed171015.apply(lambda x: parse(x))
print(csv.shape)
csv.head()

(498,)

0    0417320101;1510362220171015;ラテンリズム　　　　　　　　　　　　...
1    0417320102;1511006820171015;カミノコ　　　　　　　　　　　　　　...
2    0417320103;1510168720171015;モアイ　　　　　　　　　　　　　　　...
3    0417320104;1511008920171015;ロータスクイーン　　　　　　　　　　...
4    0417320105;1510017220171015;トキノカサドール　　　　　　　　　　...
dtype: object

In [74]:
csv.to_csv("test.csv",header=None,index=None)

In [75]:
dataframe = pd.read_csv("test.csv",header=None)

In [76]:
print(dataframe.shape)
dataframe.head()

(498, 1)

                                                   0
0  0417320101;1510362220171015;ラテンリズム　　　　　　　　　　　　...
1  0417320102;1511006820171015;カミノコ　　　　　　　　　　　　　　...
2  0417320103;1510168720171015;モアイ　　　　　　　　　　　　　　　...
3  0417320104;1511008920171015;ロータスクイーン　　　　　　　　　　...
4  0417320105;1510017220171015;トキノカサドール　　　　　　　　　　...

In [79]:
dataframe.loc[0,0].split(";")

['0417320101',
 '1510362220171015',
 'ラテンリズム\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000',
 '1200',
 '2',
 '2',
 '1',
 '20',
 '11',
 'A3',
 '102',
 '3',
 ' ',
 '\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000\u3000',
 '15',
 '\u3000\u3000\u3000\u3000',
 '09',
 '0',
 '1153',
 '540',
 '杉原誠人\u3000\u3000',
 '松山将樹\u3000\u3000',
 ' 202.3',
 '12',
 ' 11',
 '  7',
 '-14',
 '  4',
 '   ',
 '   ',
 '   ',
 '   ',
 '   ',
 '   ',
 '   ',
 '3',
 '3',
 '38',
 '2',
 '7',
 'S',
 'S',
 '-31.3',
 '-17.6',
 '-29.0',
 ' -9.0',
 'ラフィングマ',
 '021',
 '372',
 '381',
 '                        ',
 '  ',
 '  30.1',
 '  87.3',
 '  17.9',
 '00',
 '14',
 '14',
 '14',
 '-20',
 '-20',
 '10555',
 '10410',
 '434',
 '+ 2',
 '2',
 ' ',
 '4',
 '       ',
 '       ',
 '    0',
 '    0',
 '33',
 '22',
 '1',
 '    ']